# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec
*.log
*.pot
*.mo
*.coverage
.coverage.*
.cache
.pytest_cache/
.tox/
.nox/
htmlcov/
.pyre/
.pytype/
.mypy_cache/
dmypy.json
cython_debug/
*.db
*.sqlite3
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
__pypackages__/
Pipfile.lock
poetry.lock

# =========================
# IntelliJ / PyCharm
# =========================
.idea/
*.iml
*.iws
out/

# =========================
# Eclipse
# =========================
.project
.metadata/
*.tmp
*.bak
*.swp
*.swo
.settings/
bin/

# =========================
# Visual Studio / VSCode
# =========================
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb
*.VC.VC.opendb
*.VC.VC.db

# =========================
# Jupyter Notebooks
# =========================
.ipynb_checkpoints

# =========================
# Documentation
# =========================
docs/_build/
doc/_build/
site/

# =========================
# Misc
# =========================
*.DS_Store
*.log
